$addTaskBackgrouncolor: rgb(255, 255, 255);
$topBackgrouncolor: #0078D7;
$plusBackgrouncolor: rgba(255, 255, 255, 0.301);

mat-grid-tile {
  background: lightblue;
}
.header{
  background-color:addTaskBackgrouncolor;
  height: 50px;
  width: 100%;
}
.titleHeader{
   font-size:20px;
   font-weight: 700;
   color: topBackgrouncolor;
   height: 50px;
   margin: 8px;
   padding: 10px;
}
.todoHeader{
 background-color: topBackgrouncolor ;
}
.plusIcon{
  border: 0;
  background-color: plusBackgrouncolor;
  color: #0078D7;
  border-width : 0;
  font-size: medium;
}
.addTaskSection{
  background-color: plusBackgrouncolor;
 padding: 10px;
 color: #3b77d9;
 font-size:smaller;
}
.sideMargin{
  margin: 10px;
}
.dotBtn{
  border: 0;
  background-color:rgb(255, 255, 255);
}
.top-background{
  background-color: topBackgrouncolor;
}
.btn-style{
  border: 0;
  background-color: topBackgrouncolor;
  color: aliceblue;
  font-size: 25px;
}
.mat-grid-list .mat-expansion-panel:not([class*=mat-elevation-z]) {
   box-shadow: none;
}

.bg-light .bg-variant {
  background-color: topBackgrouncolor;
}
.set-search-position{
  margin: 10px;
  padding: 190px;
}
.todo-icon-heding-style{
  margin: 5px;
  padding: 20px;
}
