<div class="top-background">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div>
              <button class="btn-style" >
                :::
              </button>
            </div>
          </li>
          <li class="nav-item">
              <a href="#" class="todo-icon-heding-style">To Do</a>
          </li>
          <li class="nav-item">
              <a href="#" class="set-search-position"></a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

</div>


<div class="sideMargin">
  <mat-grid-list cols="1" rowHeight="45px" gutterSize="1px">
    <div class="header">
      <div class="titleHeader">Tasks <button class="dotBtn">...</button></div>
    </div>
    <div class="addTaskSection">
      <button class="plusIcon">+</button> Add a task
    </div>
    <app-task-list #pendingList [listData]="taskName" listType="pending" (checkBoxToggle)="updateTasks($event, 'pending')"></app-task-list>
    <mat-expansion-panel hideToggle [expanded]=panelOpenState >
      <mat-expansion-panel-header>
        <mat-panel-title > Completed </mat-panel-title>
      </mat-expansion-panel-header>
      <app-task-list #completeList [listData]="taskName" listType="completed" (checkBoxToggle)="updateTasks($event, 'completed')"></app-task-list>
    </mat-expansion-panel>
  </mat-grid-list>
</div>

