<div class="sideMargin">
  <mat-grid-list cols="1" rowHeight="45px" gutterSize="1px">
    <div class="header">
      <div class="titleHeader">Tasks <button class="dotBtn">...</button></div>
    </div>
    <div class="addTaskSection">
      <button class="plusIcon">+</button> Add a task
    </div>
    <app-task-list [listData]="taskName" (checkBoxToggle)="completeTask($event)"></app-task-list>
    <mat-expansion-panel hideToggle (opened)=panelOpenState >
      <mat-expansion-panel-header>
        <mat-panel-title > Completed </mat-panel-title>
      </mat-expansion-panel-header>
      <app-task-list [listData]="completeList" (checkBoxToggle)="revertToTaskList($event)"  ></app-task-list>
    </mat-expansion-panel>
  </mat-grid-list>
</div>
