<!-- Desine Page -->
<!-- <div>
  <div class="header"></div>
  <div class="taskHeader">
    <h2 class="title" >Tasks</h2>
  </div>
  <ngb-accordion>
    <ngb-panel></ngb-panel>
    <ngb-panel></ngb-panel>
    <ngb-panel></ngb-panel>
  </ngb-accordion>
</div> -->
<!-- ############################################################################## -->
<!-- Today -->
<h1>ToDo</h1>
<!-- error in code -->
 <!-- <mat-grid-list cols="2"  >
  <mat-grid-tile >1</mat-grid-tile>
  <mat-grid-tile >2</mat-grid-tile>
  <mat-grid-tile >3</mat-grid-tile>
  <mat-grid-tile >4</mat-grid-tile>
</mat-grid-list> -->
<!-- <mat-slider min="1" max="100" step="1" value="50"></mat-slider> -->

<!-- <mat-card>Simple card</mat-card> -->
<!-- correct code -->

<!-- <input type="text" placeholder="Tasks" #task />
<br><br>
<button (click)="addTask(task.value)" >Add Task</button>
<br>
<ul *ngFor="let item of toDoList">
  <li>{{item.name}} <button (click)="removeTask(item.id)" >Remove</button> </li>
</ul> -->
<!-- ############################################################################## -->

