      <button mat-button class="menu-button">
        <mat-icon>star</mat-icon>
        <span> Important</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button">
        <mat-icon class="icon-color-style">home</mat-icon>
        <span> Tasks</span>
      </button>
      <mat-divider></mat-divider>
      <br>
      <button mat-button class="menu-button" [routerLink]="['/list/tasklist1']">
        <mat-icon class="icon-color-style" >menu</mat-icon>
        <span > Test List 1</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" [routerLink]="['/list/tasklist2']">
        <mat-icon class="icon-color-style" >menu</mat-icon>
        <span> Test List 2</span>
      </button>
      <mat-divider></mat-divider>
      <div class="addTaskSection"><button class="plusIcon">+</button> New list</div>
