.header{
  background-color:rgb(255, 255, 255);
  height: 50px;
  width: 100%;
}
.titleHeader{
   font-size:20px;
   font-weight: 700;
   color:#0078D7;
   height: 50px;
   margin: 8px;
   padding: 10px;
}
.plusIcon{
  border: 0;
  background-color:  rgba(255, 255, 255, 0.301);
  color: #0078D7;
  border-width : 0;
  font-size: medium;
}
.addTaskSection{
  background-color: rgba(192, 188, 188, 0.301);
 padding: 10px;
 color: #3b77d9;
 font-size:smaller;
}
.dotBtn{
  border: 0;
  background-color:rgb(255, 255, 255);
}

