<div class="top-background">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <div>
              <button class="btn-style" >
                :::
              </button>
            </div>
          </li>
          <li class="nav-item">
              <a href="#" class="todo-icon-heding-style">To Do</a>
          </li>
          <li class="nav-item">
              <a href="#" class="set-search-position"></a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
