<div>
  <mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="navFlag">
      <button mat-button >
        <mat-icon (click)="closeSideNav()">menu</mat-icon>
      </button>
        <br><br>
      <button mat-button class="menu-button" >
        <mat-icon>star</mat-icon>
        <span> Important</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" >
        <mat-icon class="icon-color-style">home</mat-icon>
        <span> Tasks</span>
      </button>
      <mat-divider></mat-divider>
      <br>
      <button mat-button class="menu-button">
        <mat-icon class="icon-color-style" >menu</mat-icon>
        <span> Test List 1</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button">
        <mat-icon class="icon-color-style" >menu</mat-icon>
        <span> Test List 2</span>
      </button>
      <mat-divider></mat-divider>
      <div class="addTaskSection"><button class="plusIcon">+</button> Add a task</div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <app-content></app-content>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
