section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
/* ############################################### */

.header{
  background-color: #2d77ed;
  height: 40px;
}
.taskHeader{
  background-color: aliceblue;
  height:50px;
}

.title{
  font-size: 25px;
  margin: 15px;
  padding: 5px;
  color: #2d77ed;

}
