<h1>ToDo</h1>
<!-- Call Tasks component for learning -->
<!-- <ul>
  <li> <a routerLink="tasks" >HomeRoute</a> </li>
</ul>
<router-outlet></router-outlet> -->
<!-- Grid not render -->
<!-- <mat-grid-list cols="2">
  <mat-grid-tile>1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list> -->

<!-- Try to create simple todo app for testing -->
<!-- <input type="text" placeholder="Tasks" #task />
<br /><br />
<button (click)="addTask(task.value)">Add Task</button>
<br />
<ul *ngFor="let item of toDoList">
  <li>{{ item.name }} <button (click)="removeTask(item.id)">Remove</button></li>
</ul> -->
<!-- ############################################################################## -->
<mat-list>
<div class="header">
  <div class="titleHeader">Tasks</div>
</div>
<mat-divider></mat-divider>


    <input type="radio" id="html" name="fav_language" />  
  <label>Buy Something</label><br />
  <mat-divider></mat-divider>

    <input type="radio" id="html" name="fav_language" />  
  <label>Study Something</label><br />
  <mat-divider></mat-divider>

    <input type="radio" id="html" name="fav_language" />  
  <label>Meet Someone</label><br />
  <mat-divider></mat-divider>
</mat-list>
<!-- ---------------------------------- -->

<!-- <span addToTop >
  <div class="baseAddParent addTask taskCreation" >
    <div class="baseAdd addTask taskCreation">
      <button class="baseAdd-icon addTask" type="button" aria-label="Add a task">
        <i class="icon fontIcon ms-Icon ms-Icon--Add iconSize-24" aria-hidden="true">
          ::bofore
        </i>
      </button>
      <span>
        <input type="text" id="baseAddInput-addTask-description" class="screenreader-only" >
      </span>
      <input id="baseAddInput-addTask" class="baseAdd-input taskCreation" aria-label="Add a task"
           aria-describedby="baseAddInput-addTask-description" type="text" maxlength="255"
           placeholder="Add a task" tabindex="-1" autocomplete="off" value="">


    </div>
  </div>
</span> -->
