.content {
  height: calc(88vh);
}
.mat-sidenav {
  width: 325px;
  border-radius: 0;
  background: rgb(240, 240, 240);
  color: rgb(185, 182, 182);
  text-align: left;
  padding: 16px;
}
.sideColor {
  background-color: #f0f0f0;
}
